html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Chakra Petch', sans-serif;
}


body {
    min-height: 100vh;
    background-color: #000000;
background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
}

form {
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

form label {
    font-weight: bold;
}

form input {
    display: block;
    font-size: 16px;
    padding: 5px;
    border-width: 3px;
    border-style: inset;
    background-color: #ffffff;
    border-color: #f5f5f5;
    width:200px;
}


form input[type="submit"]:hover {
    cursor: pointer;
}

#formMessage{
    resize: vertical;
    width: 210px;
}
